html {
    font-family: "Times New Roman", fantasy, sans-serif;
}/* sans-serif applies when serif could not be loaded */

body {
/*
    background-image: url(lo_sadius_color.jpg);
    background-repeat: no-repeat;
    background-size: cover;
*/
    background: #444;
    text-align: center;
}



.container {
    /*background: linear-gradient(to left, #00ccff, #b3f0ff);
    box-shadow: 3px 5px black;*/
}

.borderImg {
    height: 150px;
    width: auto;
    border: 10px solid white;
}

h1, h2, h3, .class, #id {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
    line-height: 1rem;
    font-style: normal;
}

html body div.container h1#example {
    color: cornflowerblue;
} // 114

#example {
    color: darkred;
} /*100*/

[id="example"] {
    color: orange;
} /*10*/

.container h1 {
    color: darkgreen;
} /*10*/

.formatting {
    font-size: 25px;
    line-height: normal;
    color: aquamarine;
}

div h1 {
    color: darkblue;
} /*2*/

h1 {
    color: orangered!important;
} /*only use for bootstrap, normalize CSS*/

h2 {
    font-size: 30px;
    font-style: italic;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    word-spacing: 10px;
    text-transform: uppercase;
}

ul li {
    color: aliceblue;
    font-size: 15px;
}

ul > li {
    color: gold;
}

ul > ol > li {
    color: dodgerblue;
}