body {
    background-image: url(lo_sadius_color.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.container {
    /*background: linear-gradient(to left, #00ccff, #b3f0ff);
    box-shadow: 3px 5px black;*/
}

.borderImg {
    height: 150px;
    width: auto;
    border: 10px solid white;
}

h1, h2, h3, .class, #id {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
    line-height: 1rem;
    font-family: fantasy;
}

html body div.container h1#example {
    color: cornflowerblue;
} // 114

#example {
    color: darkred;
} /*100*/

[id="example"] {
    color: orange;
} /*10*/

.container h1 {
    color: darkgreen;
} /*10*/

div h1 {
    color: darkblue;
} /*2*/

h1 {
    color: orangered!important;
} /*only use for bootstrap, normalize CSS*/

ul li {
    color: aliceblue;
    font-size: 15px;
}

ul > li {
    color: gold;
}

ul > ol > li {
    color: dodgerblue;
}