/*######## Defaults ########*/
nav, header, footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
    
}

.container {
    width: 100%;
    margin: auto; /*keeps everything in center*/
    padding-top: 4%;
    padding-bottom: 4%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*######## Nav bar ########*/
nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden; /*don't show everything when window is collapsed.*/
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none; /*guarentee that no bullet point is inserted*/
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: #fff;
    /*setting when mouse is over the anker area*/
}

ul.topnav li.dropdownIcon {
    display: none;
    /*hide icon when it's displaying on desktop*/
}
/*

.col-6 {
    width: 100%;
    margin: 0;
}
*/

/*######## Custon Styles ########*/
#section-1-gradient {
    background: #076DFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#076DFF, #65); /* For Sagari 5.1 to 6.0 */
    background: -o-linear-gradient(#076DFF, #65); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#076DFF, #65); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#076, #5ff); /* Standard syntax */
}

div.leftSide-col {
    margin-left: 30%;
}

div.rightSide-col {
    margin-left: 15% 
}

h1.large {
    color: #fff;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}

form h2 {
    color: #fff;
}

input[type="text"] {
    /*every input field that in website, the one's that are type text, will have a specific style property.*/
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

/*######## Mobile ########*/
@media screen and (max-width: 680px) /*detect device width*/ {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }/*make all list disappear when width goes down below 680px except for 1st child of that list.*/
    
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive {
        position: relative;
        /*Don't want this list to be placed in random place. Just to make sure.*/
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    
    .col-6 {
        width: 100%;
        margin: 0;
    }
    
    div.leftSide-col, div.rightSide-col {
        margin: 15px;
    }
    
    input[type="text"] {
        width : 350px;
    }
    
    .videoContainer iframe {
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
}